accelerate==1.14.0
bert-score==0.3.13
matplotlib==3.11.0
numpy==2.4.6
pandas==3.0.3
pyarrow==24.0.0
rouge-score==0.1.2
sacrebleu==2.6.0
scikit-learn==1.9.0
scipy==1.17.1
sentencepiece==0.2.1
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121
tqdm==4.68.3
transformers==4.49.0
ipykernel==7.3.0