jax==0.4.30
jaxlib==0.4.30
matplotlib==3.11.0
numpy==1.26.4
pandas==3.0.3
pyarrow==24.0.0
pytorch-lightning==2.2.1
scikit-learn==1.5.0
scipy==1.17.1
tensorboard==2.17.0
torch==2.2.1+cu121
torchaudio==2.2.1+cu121
torchmetrics==1.9.0
torchvision==0.17.1
tqdm==4.68.3
ipykernel==7.3.0